body{
    overflow-x: hidden;
}
.container-full {
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    text-decoration-color: white;
    color: white;
    
}
.page1 {
    padding-top: 16%;
    padding-bottom: 12%;
}
.mouse-click{
    padding-bottom: 1%;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-55px);
    }
    60% {
      transform: translateY(-45px);
    }
  }
.page1 h1{
    font-size: 45px;
    font-weight: 30px;
}
#about-us{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
#services-offered {
    text-align: center;
    color: white;
    padding-bottom: 50px;
    padding-top: 10px;
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#whatWeDo{
    padding-top: 30px;
    padding-bottom: 30px;
}
#whatWeDo h6{
    font-weight: bold;
}
.contact{
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page2 h2{
    padding-bottom: 60px;
    padding-top: 20px;
}
#form{
    padding-bottom: 50px;
}
.form-control{
    background-color: transparent;
    color: white;
}
#form ::placeholder{
    color: white;
}
.responsive{
    width: 100%;
    height: auto;
}
#design, #development, #product{
    display: none;
}
.portfolio h2{
    margin-top: -200px;
    background-color: black;
    opacity: 0.5;
    border-top: 6px solid #5656d3;
    border-bottom: 6px solid #5656d3;
    border-radius: 50px;
    
}
#port1, #port2, #port3, #port4, #port5, #port6, #port7, #port8 {
    display: none;

}
.port{
    padding: 50px

}
.contact-overlay{
    padding-top: 50px;
}
.portfolio{
    padding-bottom: 50px;
    padding-top: 50px;
}